# Зависимости
/vendor/

# Локальные конфигурации и пароли
.env
config.local.php

# Кеш и логи
/src/cache/
*.log
*.tmp

# Системные файлы ОС
.DS_Store
Thumbs.db

# Файлы редакторов и IDE
.idea/
.vscode/
*.swp
*.swo

# Загруженные пользователями файлы (если хранятся локально)
/public/uploads/