@import "./components/_button.css";
@import "./components/_card.css";
@import "./components/_filters.css";
@import "./components/_footer.css";
@import "./components/_form.css";
@import "./components/_header.css";

@import "./pages/_about.css";
@import "./pages/_admin.css";
@import "./pages/_auth.css";
@import "./pages/_brands.css";
@import "./pages/_cart.css";
@import "./pages/_catalog.css";
@import "./pages/_checkout.css";
@import "./pages/_contacts.css";
@import "./pages/_new-products.css";
@import "./pages/_orders.css";
@import "./pages/_product.css";
@import "./pages/_profile.css";
@import "./pages/_promotions.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Цвета */
:root {
    --text-color: #f6f6f6;
}